.footer {
  color: #545454;
  font-family: "inter-regular";
  font-size: 18px;
  margin: 90px 0 0 200px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 880px) {
  .footer {
    margin: 70px 50px 0 100px;
  }
}
@media screen and (min-width: 320px) and (max-width: 580px) {
  .footer {
    margin: 50px 19px 0 19px;
  }
}
