.gallery {
  width: 865px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 100px 0 0 80px;
  row-gap: 17px;
}

.block {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__photo {
  width: 270px;
  height: 270px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.card__footer {
  width: 270px;
  height: 52px;
  background-color: #ffff;
  margin-top: -4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "inter-black";
  border-radius: 0 0 5px 5px;
}

.like-button {
  font-family: "inter-thin";
  border: none;
  background-color: #ffff;
  cursor: pointer;
}

.liked {
  color: black;
}

@media screen and (min-width: 320px) and (max-width: 584px) {
  .gallery {
    width: 282px;
    height: 260px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 240px 10px 0 25px;
  }

  .card__photo {
    width: 282px;
    height: 282px;
  }
  .card__footer {
    width: 282px;
    height: 60px;
  }
}

@media screen and (min-width: 584px) and (max-width: 880px) {
  .gallery {
    width: 220px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin: 130px 0px 0 170px;
  }

  .card__photo {
    width: 220px;
    height: 220px;
  }
  .card__footer {
    width: 220px;
    height: 59px;
  }
}
