.page {
  width: 1280px;
  font-family: "inter-regular";
  background-color: black;
  margin: auto;
}

@media screen and (min-width: 320px) and (max-width: 584px) {
  .page {
    width: 320px;
    overflow: hidden;
  }
}

@media screen and (min-width: 584px) and (max-width: 880px) {
  .page {
    max-width: 880px;
    overflow: hidden;
  }
}
