.profile {
  max-width: 880px;
  max-height: 120px;
}

.profile__photo {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 40px 0 0 130px;
}

.profile__name {
  width: 415px;
  height: 77px;
  font-family: "inter-regular";
  font-size: 42px;
  color: #ffff;
  margin: -94px 515px 0 270px;
}

.profile__paragraph {
  font-family: "inter-regular";
  font-size: 18px;
  color: #ffff;
  margin: -24px 515px 0 270px;
}

.edit-button {
  width: 50px;
  height: 50px;
  background-color: black;
  position: absolute;
  top: 200px;
  left: 590px;
  border: none;
  cursor: pointer;
}

.add-button {
  width: 150px;
  height: 50px;
  border-color: #ffff;
  background-color: black;
  position: absolute;
  right: 200px;
  top: 200px;
  cursor: pointer;
}

.plus-icon {
  width: 15px;
  height: 15px;
}

@media screen and (min-width: 320px) and (max-width: 780px) {
  .profile {
    width: 282px;
    height: 282px;
  }

  .profile__photo {
    margin: 20px 100px 0 100px;
  }

  .profile__name {
    width: 224px;
    height: 22px;
    font-size: 20px;
    margin: 30px 52px 0 85px;
  }

  .profile__paragraph {
    width: 282px;
    height: 14px;
    margin: 14px 29px 0 125px;
    font-size: 14px;
  }

  .edit-button {
    margin: auto;
    position: absolute;
    top: 355px;
    left: 245px;
  }

  .add-button {
    width: 282px;
    height: 50px;
    margin: auto;
    position: absolute;
    top: 450px;
    left: 19px;
  }
}

@media screen and (min-width: 767px) and (max-width: 768px) {
  .profile {
    width: 760px;
    height: 282px;
  }

  .profile__photo {
    margin: 100px 30px 0 50px;
  }

  .profile__name {
    width: 415px;
    height: 77px;
    font-size: 42px;
    margin: -94px 515px 0 190px;
  }

  .profile__paragraph {
    margin: -24px 515px 0 190px;
  }

  .edit-button {
    position: absolute;
    left: 550px;
    top: 220px;
  }

  .add-button {
    width: 128px;
    position: absolute;
    left: 620px;
    top: 220px;
  }
}
