.profile {
  max-width: 880px;
  max-height: 120px;
}

.profile__photo {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 40px 0 0 200px;
  object-fit: cover;
}

.profile__name {
  width: 415px;
  height: 77px;
  font-family: "inter-regular";
  font-size: 42px;
  color: #ffff;
  margin: -94px 515px 0 340px;
}

.profile__paragraph {
  font-family: "inter-regular";
  font-size: 18px;
  color: #ffff;
  margin: -24px 515px 0 340px;
}

.edit-button {
  width: 50px;
  height: 50px;
  background-color: black;
  position: absolute;
  top: 200px;
  left: 710px;
  box-sizing: 1px;
  border-color: #ffff;
  cursor: pointer;
}
.pencil-edit {
  width: 25px;
  height: 25px;
}
.add-button {
  width: 150px;
  height: 50px;
  border-color: #ffff;
  background-color: black;
  position: absolute;
  right: 300px;
  top: 200px;
  cursor: pointer;
}

.plus-icon {
  width: 15px;
  height: 15px;
}

@media screen and (min-width: 320px) and (max-width: 584px) {
  .profile {
    width: 282px;
    height: 282px;
  }

  .profile__photo {
    margin: 20px 0 0 130px;
    object-fit: cover;
  }

  .profile__name {
    width: 224px;
    height: 22px;
    font-size: 20px;
    margin: 30px 0px 0 90px;
  }

  .profile__paragraph {
    width: 282px;
    height: 14px;
    margin: 14px 0 0 150px;
    font-size: 14px;
  }

  .edit-button {
    position: absolute;
    top: 290px;
    left: 270px;
    width: 20px;
    height: 20px;
  }

  .pencil-edit {
    width: 10px;
    height: 10px;
  }

  .add-button {
    width: 282px;
    height: 50px;
    margin: auto;
    position: absolute;
    top: 390px;
    left: 35px;
  }
}

@media screen and (min-width: 584px) and (max-width: 768px) {
  .profile {
    max-width: 768px;
  }

  .profile__photo {
    margin: 30px 0 0 45px;
    object-fit: cover;
  }

  .profile__name {
    width: 250px;
    height: 22px;
    font-size: 30px;
    margin: -100px 0px 0 190px;
  }

  .profile__paragraph {
    margin: 10px 0px 0 190px;
  }

  .edit-button {
    position: absolute;
    top: 145px;
    left: 450px;
    width: 40px;
    height: 40px;
  }

  .pencil-edit {
    width: 8px;
    height: 8px;
  }

  .add-button {
    width: 230px;
    position: absolute;
    top: 230px;
    left: 170px;
  }
}
